nz-date-picker,
nz-range-picker {
    width: 100%;
}

.wrap-button {
    text-align: center;
    width: 100%;
}

.custom-snip {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff80;
}